* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: black;
    color: white;
}
.profile {
    display: flex;
}
.profilepic {
    margin: 30px 0 0 30px;
}
.profilepic img {
    height: 150px;
    width: 150px;
    border-radius: 50%; 

}
.profilepic h2 {
    margin-bottom: 10px;
}
.profilepic p {
    margin-top: 5px;
    opacity: 0.9;
}
.profilepic i {
    margin-right: 5px;
}
.profileinfo {
    height: 100px;
    width: 30%;
    display: flex;
    margin: 140px 0 0 200px;
}
.profileinfo div {
    margin-left: 50px;
    text-align: center;
    font-size: 20px;
}
.profileinfo p {
    margin-top: 10px;
}
.storyCollection {
    margin: 60px 0 0 50px;
    font-weight: 100;
}
.poster {
    height: 300px;
    width: 180px;
    margin: 20px 0 0 30px;
}
.edit-btn {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 10px;
}
.edit-profile {
    margin: 50px;
    text-align: center;
}
#editProfileForm {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}
#editProfileForm label {
    display: block;
    margin-bottom: 5px;
}
#editProfileForm input, #editProfileForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #2c2c2c;
    color: white;
}
#editProfileForm button {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}
